<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Choose your threshold</title>
</head>

<body>
<h1>Specify your THRESHOLD</h1>

<form name="formT" action="application" method="get">
    <table border="1">
        <tr>
            <td>
                <table border="0" cellpadding="5" cellspacing="5">
                    <tr>
                        <td>Threshold:</td>
                        <td><input type="text" id="threshold" name="threshold"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Calculate matching list with this threshold"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</form>
</body>
</html>